<nav class="navbar-inverse navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid py-2">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-5 my-3 text-decoration-none"><%= link_to 'One', pages_one_path %></li>
        <li class="nav-item px-5 my-3 text-decoration-none"><%= link_to 'Two', pages_two_path %></li>
        <li class="nav-item px-5 my-3 text-decoration-none"><%= link_to 'Three', pages_three_path %></li>
      </ul>
    </div>
  </div>
</nav>